<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ors</title>
<base href="/">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="styles.26b87e788f7daf0a9070.bundle.css" rel="stylesheet"/></head>
<app-root>Loading</app-root>
<router-outlet></router-outlet>
<script type="text/javascript" src="inline.60737912f03321bd557f.bundle.js"></script><script type="text/javascript" src="polyfills.efa61d8ab76316843616.bundle.js"></script><script type="text/javascript" src="vendor.99ff4bc66e549eb83ef8.bundle.js"></script><script type="text/javascript" src="main.5cf4d2ffc80ab23321be.bundle.js"></script></body>
</html>
